<!--
  Generated template for the MembersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-title>Members</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list no-lines>
    <ion-item *ngFor="let member of data">
      <ion-badge item-end color="danger" *ngIf="member.gender === 'female'">F</ion-badge>
      <ion-badge item-end color="primary" *ngIf="member.gender === 'male'">M</ion-badge>
      <ion-avatar item-start>
        <img [src]="member.picture.medium">
      </ion-avatar>
      <h2>{{member.name.title}}.{{member.name.first}} {{member.name.last}}</h2>
      <p>{{member.email}}</p>
    </ion-item>
  </ion-list>
</ion-content>